# configuration directories
.project
.classpath
.settings/
.vscode/

# output directories
target/

# data directory
medium/

# ignore automatically downloaded dependency
src/main/resources/pdfjs/

# data files
*.db
*.log.*
